body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Styles pour l'en-tête */
header {
    background-color: #1a452e;
    color: #ddef14;
    padding: 10px 10;
    

}
#barre-recherche{
    position: absolute;
    top: 0;
    right: 0;

}
#rhinologo {
    position: absolute;
    top: 0;
    left:0;
    width: 100px;
}
header h1 {
    font-size: 4 rem;
    margin-left: 3cm;
   margin-top: 4;
   display:block;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour la section de bienvenue */
#Welcome {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

/* Styles pour la section Animaux */
#animals {
    padding: 20px;
    background-color: #f4f4f4;
}

#animals a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.conteneur-images {
    display: flex; /* Utilisation de flexbox pour aligner les images horizontalement */
   
}
.conteneur-images img { 
    width: 300px;
    margin-right: 10px;
    /* Marge entre les images (ajustez selon vos besoins) */
}
/* Styles pour le pied de page */
footer {
    background-color: #1a452e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}